<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### About the dataset (Customer Tip Data)

The dataset contains information about the 244 orders served at a restaurant in the United States. Each observation includes the factors related to the order like total bill, time, the total number of people in a group, gender of the person paying for the order and so on.

Attribute Information:

**total_bill:** Total bill (cost of the meal), including tax, in US dollars

**tip:** Tip in US dollars

**sex:** Sex of person paying for the meal

**smoker:** There is a smoker in a group or not

**day:** Day on which the order is served

**time:** Time of the order

**size:** Size of the group

**Import the required libraries**

In [1]:
# type your code here
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

#### Load the customer tip dataset and print the first five observations

In [2]:
# type your code here
df = pd.read_csv('customer_tip.csv')
df.head().transpose()

                 0       1       2       3       4
total_bill   16.99   10.34   21.01   23.68   24.59
tip           1.01    1.66     3.5    3.31    3.61
sex         Female    Male    Male    Male  Female
smoker          No      No      No      No      No
day            Sun     Sun     Sun     Sun     Sun
time        Dinner  Dinner  Dinner  Dinner  Dinner
size             2       3       3       2       4

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Make a list of categorical and numerical variables in the data
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
# type your code here
df.info()
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Compute the average bill amount for each day
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# type your code here
df.groupby('day')['total_bill'].mean().reset_index()

    day  total_bill
0   Fri   17.151579
1   Sat   20.441379
2   Sun   21.410000
3  Thur   17.682742

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Which gender is more generous in giving the tip?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# type your code here
df.groupby('sex')['tip'].mean().reset_index()

      sex       tip
0  Female  2.833448
1    Male  3.089618

In [ ]:
print("We can observe that males are more generous in tipping")

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. According to the data, were there more customers for dinner or lunch? </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here
df.time.value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [11]:
print("More customers had turned up for Dinner")

More customers had turned up for Dinner

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Based on the statistical summary, comment on the variable 'tip'
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
# type your code here
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [21]:
print("Average Tip is ",np.mean(df.tip))
print("Minimum Tip is ",np.min(df.tip))
print("Maximum Tip is ",np.max(df.tip))
print("75% of them tipped ",np.quantile(df.tip,q=0.75))
print("25% of them tipped ",np.quantile(df.tip,q=0.25))
print("50% of them tipped ",np.quantile(df.tip,q=0.5))

Average Tip is  2.99827868852459
Minimum Tip is  1.0
Maximum Tip is  10.0
75% of them tipped  3.5625
25% of them tipped  2.0
50% of them tipped  2.9

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Find the busiest day in terms of the orders
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [29]:
# type your code here
df.groupby('day')['size'].mean().reset_index()

    day      size
0   Fri  2.105263
1   Sat  2.517241
2   Sun  2.842105
3  Thur  2.451613

In [30]:
print("Sunday is the busiest day in terms of orders")

Sunday is the busiest day in terms of orders

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Is the variable 'total_bill' skewed? If yes, identify the type of skewness. Support your answer with a plot
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [32]:
# type your code here
skewness = st.skew(df.total_bill)
skewness

1.1262346334818638

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Is the tip amount dependent on the total bill?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9.  What is the value under which 20% of the total bill would lie?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Retrieve the orders where the bill amount is more than 2 standard deviation away from the average bill </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here