In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('MBA Salary.csv')
df.head().transpose()

                               0          1         2         3         4
S. No.                       1.0       2.00       3.0       4.0       5.0
Percentage in Grade 10      62.0      76.33      72.0      60.0      61.0
Salary                  270000.0  200000.00  240000.0  250000.0  180000.0

In [3]:
df.head()

   S. No.  Percentage in Grade 10  Salary
0       1                   62.00  270000
1       2                   76.33  200000
2       3                   72.00  240000
3       4                   60.00  250000
4       5                   61.00  180000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   S. No.                  50 non-null     int64
 1   Percentage in Grade 10  50 non-null     float64
 2   Salary                  50 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 1.3 KB

In [5]:
df.describe()

         S. No.  Percentage in Grade 10         Salary
count  50.00000               50.000000      50.000000
mean   25.50000               63.922400  258192.000000
std    14.57738                9.859937   76715.790993
min     1.00000               37.330000  120000.000000
25%    13.25000               57.685000  204500.000000
50%    25.50000               64.700000  250000.000000
75%    37.75000               70.000000  300000.000000
max    50.00000               83.000000  450000.000000

In [6]:
import statsmodels.api as sm

In [7]:
X = sm.add_constant(df['Percentage in Grade 10'])
X.head()

   const  Percentage in Grade 10
0    1.0                   62.00
1    1.0                   76.33
2    1.0                   72.00
3    1.0                   60.00
4    1.0                   61.00

In [8]:
Y = df.Salary

In [9]:
from sklearn.model_selection import train_test_split

In [12]:
train_X , test_X , train_y, test_y = train_test_split(X,Y,train_size=0.8,random_state=100)

In [13]:
model = sm.OLS(train_y,train_X).fit()

In [14]:
model.params

const                     30587.285652
Percentage in Grade 10     3560.587383
dtype: float64

In [15]:
model.bse

const                     71869.449679
Percentage in Grade 10     1116.925833
dtype: float64

In [16]:
model.rsquared

0.21100213796791278

In [17]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.211
Model:                            OLS   Adj. R-squared:                  0.190
Method:                 Least Squares   F-statistic:                     10.16
Date:                Mon, 08 Apr 2024   Prob (F-statistic):            0.00287
Time:                        16:44:01   Log-Likelihood:                -502.43
No. Observations:                  40   AIC:                             1009.
Df Residuals:                      38   BIC:                             1012.
Df Model:                           1
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                   3.059e+04   7.19e+04      0.426      0.673   -1.15e+05    1.76e+05
Percentage in Grade 10  3560.5874   1116.926      3.188      0.003    1299.489    5821.686
==============================================================================
Omnibus:                        2.048   Durbin-Watson:                   2.611
Prob(Omnibus):                  0.359   Jarque-Bera (JB):                1.724
Skew:                           0.369   Prob(JB):                        0.422
Kurtosis:                       2.300   Cond. No.                         413.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [18]:
y_pred = model.predict(X)

In [34]:
ssr = np.sum((Y.mean()-y_pred)**2)
ssr

60393146946.907265

In [33]:
sse = np.sum((y_pred-Y)**2)
sse

244419875832.421

In [36]:
sst = np.sum((Y.mean()-Y)**2)
sst

288380316800.0

In [35]:
sse+ssr

304813022779.32825

model.summary2()

In [37]:
model.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                          Results: Ordinary least squares
===================================================================================
Model:                    OLS                   Adj. R-squared:          0.190
Dependent Variable:       Salary                AIC:                     1008.8680
Date:                     2024-04-08 16:57      BIC:                     1012.2458
No. Observations:         40                    Log-Likelihood:          -502.43
Df Model:                 1                     F-statistic:             10.16
Df Residuals:             38                    Prob (F-statistic):      0.00287
R-squared:                0.211                 Scale:                   5.0121e+09
-----------------------------------------------------------------------------------
                         Coef.     Std.Err.    t    P>|t|     [0.025       0.975]
-----------------------------------------------------------------------------------
const                  30587.2857 71869.4497 0.4256 0.6728 -114904.8089 176079.3802
Percentage in Grade 10  3560.5874  1116.9258 3.1878 0.0029    1299.4892   5821.6855
-----------------------------------------------------------------------------------
Omnibus:                    2.048              Durbin-Watson:                 2.611
Prob(Omnibus):              0.359              Jarque-Bera (JB):              1.724
Skew:                       0.369              Prob(JB):                      0.422
Kurtosis:                   2.300              Condition No.:                 413
===================================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly
specified.
"""

In [38]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.211
Model:                            OLS   Adj. R-squared:                  0.190
Method:                 Least Squares   F-statistic:                     10.16
Date:                Mon, 08 Apr 2024   Prob (F-statistic):            0.00287
Time:                        16:57:30   Log-Likelihood:                -502.43
No. Observations:                  40   AIC:                             1009.
Df Residuals:                      38   BIC:                             1012.
Df Model:                           1
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                   3.059e+04   7.19e+04      0.426      0.673   -1.15e+05    1.76e+05
Percentage in Grade 10  3560.5874   1116.926      3.188      0.003    1299.489    5821.686
==============================================================================
Omnibus:                        2.048   Durbin-Watson:                   2.611
Prob(Omnibus):                  0.359   Jarque-Bera (JB):                1.724
Skew:                           0.369   Prob(JB):                        0.422
Kurtosis:                       2.300   Cond. No.                         413.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""