<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Session 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to count number of vowels in a string (take input from user) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to check whether given year is leap year or not (take input from user) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to print Armstrong number in the interval from 100 to 2000</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Hint: Armstrong number = The sum of cubes of each digit is equal to the number itself.**

In [5]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to remove punctuations from a string (take a string containing punctuations as an input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to fetch the words from the given list which have their first character in uppercase.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>namesList = ['santa Maria', 'Hello World','Merry christmas', 'tHank You']</b><br>
<b>Output: ['Maria', 'Hello', 'World', 'Merry', 'You']</b>

In [1]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. A list of dates (dd-mm-yyyy) in the form of string is given below. Create a new list that stores years i.e. the 'yyyy' part from the dates in the given list.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']</b><br>
<b>Output: ['1997','2011','1993','2020']</b>

In [2]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. A list containing age and name of five candidates is given below. Convert this list into a dictionary such that the name is the key and the age before their name should be the value in the dictionary.</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lst = [26,'John',34,'Mary',13,'Steven',24,'Ronald',65,'Donald']</b><br>
<b>Output: {'John':26, 'Mary':34, 'Steven':13, 'Ronald':24, 'Donald':65}</b>

In [3]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Consider the string (quote) given below. Print a string having unique words from the quote (Remove the duplicates from a string and return a new string without duplicates).<br><br> Note: Do not use any string inbuilt function. Also do not use set()</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>quote = "God made man man made money money made man mad"</b><br>
<b>Output: God made man money mad</b>

In [4]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Sort all the elements of the list according to the first letter, irrespective of their cases (uppercase or lowercase).</b><br><br>
                    <b>Condition : Do not use any inbuilt sorting function.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>languages = ['python', 'R', 'Java', 'scala', 'C', 'C++']</b><br>
<b>Output: ['C', 'C++', 'Java', 'python', 'R', 'scala']</b>

In [5]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Create dictionary with 4 keys and their respective values and swap the keys to values and values to keys.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>d = {'Hello':22,'World':14, 'Welcome':10, 'Back':3}</b><br>
<b>Output: {22: 'Hello', 14: 'World', 10: 'Welcome', 3: 'Back'}</b>

In [6]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 11. Given below are the list of positive and negative words. Also a list of comments is provided. Segregate the comments based on positive and negative sentiments.</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

positive = ['good','awesome', 'best', 'nice']<br><br>
negative = ['worst','awful']<br> <br>
comments = ['He is a good boy',<br>
   &emsp;&emsp;&emsp;'Food is the worst here',<br>
   &emsp;&emsp;&emsp;'He is an awesome player',<br>
   &emsp;&emsp;&emsp;'She is the best',<br>
   &emsp;&emsp;&emsp;'This pizza tastes awful',<br>
   &emsp;&emsp;&emsp;'These burger are really nice']<br>

In [8]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 12. A dictionary of power levels of superheroes is given. Also, the categories of these superheroes are provided according to the range of their power. Replace the power levels in the dictionary with the corresponding category.</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

power_level = {'Drax':30,
               'Spiderman':50,
               'Thanos':58000,
               'Captain America':80,
               'Loki':3200,
               'Thor':44000,
               'Groot': 120,
               'Ironman':5000,
               'Dr. Strange':8000}

Categories are
God_Like : (35000,70000)
Super_Strong: (3000,10000)
Strong: (100,200)
Peak_Human: (10,90)

Output: {'Drax': 'Peak_Human', 'Spiderman': 'Peak_Human', 'Thanos': 'God_Like', 'Captain America': 'Peak_Human', 'Loki': 'Super_strong', 'Thor': 'God_Like', 'Groot': 'Strong', 'Ironman': 'Super_strong', 'Dr. Strange': 'Super_strong'}

In [9]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 13. A list of Power Levels of superheroes is given. Also, the Category is provided according to the range for information. Group the heroes(in list) as per their corresponding category according to the power levels.</b><br>
                    <br>
                    <b> Sample Output: God_like = ['Thor', 'Thanos']</b>
                </font>
            </div>
        </td>
    </tr>
</table>

power_level = {'Drax':30,
               'Spiderman':50,
               'Thanos':58000,
               'Captain America':80,
               'Loki':3200,
               'Thor':44000,
               'Groot': 120,
               'Ironman':5000,
               'Dr. Strange':8000}

Categories are 
God_Like: (35000,70000)
Super_Strong: (3000,10000)
Strong: (100,200)
Peak_Human: (10,90)

Output:
God_Like:  ['Thanos', 'Thor']
Super_Strong:  ['Loki', 'Ironman', 'Dr. Strange']
Strong:  ['Groot']
Peak_Human:  ['Drax', 'Spiderman', 'Captain America']

In [10]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 14. Find the fruits that are <i>sour</i> in taste from the tuple given below.</b>   
                </font>
            </div>
        </td>
    </tr>
</table>

fruits = (('Lemon','sour'),
          ('DragonFruit', 'Sweet'),
          ('Grapes','soUr'),
          ('Kiwi','Sour'),
          ('Apples','sweet'),
          ('Orange','sour'),
          ('Blueberries','sweet'),
          ('Limes','Sour')
          )
          
Output: 
Sour Fruits:  ['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

In [11]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a program to print following pattern</b>
                    
                 </font>
            </div>
        </td>
    </tr>
</table>

A  
B C  
D E F  
G H I J  
K L M N O  
P Q R S T U

In [ ]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to print tables from 2 to a user provided range (take number from user)
                 </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Consider the given two tuples. Divide corresponding elemets of two tuples and print the result as tuple (use zip())</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

   **The original tuple 1 : (10, 4, 6, 9)**

   **The original tuple 2 : (5, 2, 3, 3)**

   **Output: (2, 2, 2, 3)**

In [ ]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a program to find words whose length is less than 5 from the given multi-dimensional list. Store those word in a list and print that list</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

**astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']] **

In [ ]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a program to append a dictionary to a tuple</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**The original tuple : (4, 5, 6)**

**Tuple after addition of dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})**

In [ ]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [ ]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Write a program to remove space from keys of the given dictionary  </b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 
                'Fruits 0 3 ': 'Grapes'}**

**(Output)New dictionary :   {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}**

In [ ]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write a program to transpose a matrix using list comprehension</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**matrix=[[1,2],[3,4],[5,6],[7,8]]**<br>
**Output: [[1, 3, 5, 7], [2, 4, 6, 8]]**

In [ ]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Consider the below string 'input_str'. Take the position index from user and from that position print Mirror string.</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint : Mirror String : In mirror operation, we change ‘a’ to ‘z’, ‘b’ to ‘y’,'c' to 'x' and so on.**

**Example**

**Original String = program**

**Enter a number = 2**

**Output String = prltizn**

In [ ]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. Write a program to create a 5x3 matrix with values in each row as 1,2, and 3</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Type your code here