# Pandas

In [ ]:
import pandas as pd

ref dataset
https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv

# Series

Creation

Tata  100
Birla 200
Wipro 300
Infy  400
ITC   500

In [ ]:
mylist1 = [100,200,300,400,500]
ps1 = pd.Series(mylist1)        ##  unlabelled series
print(type(ps1))
ps1

In [ ]:
ps1.index

In [ ]:
ps1[0]

In [ ]:
ps1[4]

In [ ]:
#ps1['Tata']

In [ ]:
mylist1 = [100,200,300,400,500]
index_list = ['Tata', 'Birla', 'Wipro', 'Infy', 'HCL']
ps1 = pd.Series(mylist1, index=index_list)        ##  labelled series
ps1

In [ ]:
ps1.index

In [ ]:
ps1['Tata']

In [ ]:
ps1.shape

In [ ]:
ps1.ndim

In [ ]:
ps1.values

In [ ]:
print(type(ps1.values))

In [ ]:
md1 = {'Tata':100, 'Birla':200, 'Wipro':300, 'Infy':400, 'HCL':500}

ps2 = pd.Series(md1)
ps2

In [ ]:
ps2

Series Access

In [ ]:
ps2['Birla']

In [ ]:
ps2[1]

In [ ]:
ps2

In [ ]:
ps2[1:4]  ## numercal slice endpoint=False

In [ ]:
ps2['Birla':'Infy']  ##  label slice, endpoint=True

In [ ]:
ps2[1:4:2]

In [ ]:
ps2

In [ ]:
ps2['Birla':'HCL':2]

In [ ]:
ps2

In [ ]:
ps2[  ['Tata','Infy','Birla'] ]  ##  vectored access

In [ ]:
ps2

In [ ]:
mask1 = ps2 > 300
print(type(mask1))
mask1

In [ ]:
ps2[mask1]

In [ ]:
ps2[ps2>300]

# DataFrame

          Rev   Exp   HQ

Tata      200   100   'MUM'
Birla     300   200   'KOL'
Wipro     400   300    'BLR'
Infy      500   400    'BLR'
HCL       600   500    'NCR'

In [ ]:
mylist53 = [
    [200,300,'Mum'],
    [300,400,'Kol'],
    [400, 300, 'Blr'],
    [500, 400, 'Blr'],
    [600,500,'NCR']
]

In [ ]:
df1 = pd.DataFrame(mylist53)  ##  unlabelled data frame
print(type(df1))
df1

In [ ]:
df1.index

In [ ]:
df1.columns

In [ ]:
row_list = ['Tata', 'Birla', 'Wipro', 'Infy', 'HCL']

In [ ]:
df2 = pd.DataFrame(mylist53, index=row_list)
df2

In [ ]:
df2.index

In [ ]:
df2.columns

In [ ]:
col_list = ['Rev', 'Exp', 'HQ']

In [ ]:
df2 = pd.DataFrame(mylist53, index=row_list, columns=col_list)  ## labelled data frame
df2

In [ ]:
df2.index

In [ ]:
df2.columns

          Rev   Exp   HQ

Tata      200   100   'MUM'
Birla     300   200   'KOL'
Wipro     400   300    'BLR'
Infy      500   400    'BLR'
HCL       600   500    'NCR'

In [ ]:
md1 = {'Rev':[200,300,400,500,600], 
       'Exp':[100,200,300,400,500], 
       'HQ':['Mum','Kol','Blr','Blr','NCR']}
md1

In [ ]:
df4 = pd.DataFrame(md1)
df4

In [ ]:
df5 = pd.DataFrame(md1, index=row_list)
df5

# DF File Access

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1.to_csv('lds1.csv')

In [ ]:
df1 = pd.read_csv('lds1.csv', index_col=0)
df1

In [ ]:
df1

In [ ]:
#df1.to_excel('lds1.xlsx')

In [ ]:
df1.to_json('lds1.json')

In [ ]:
df1.to_html('lds1.html')

In [ ]:
#pd.read_excel('lds1.xlsx', index_col=0)

In [ ]:
#pd.read_json('lds1.json')

In [ ]:
#r = pd.read_html('lds1.html', index_col=0)
#print(type(r))

In [ ]:
#len(r)

In [ ]:
#r[0]

In [ ]:
##df1 = pd.read_csv('lds1.csv', index_col=0) ##  the col in the stored csv file, which u want to use as index of the dataframe
#df1

In [ ]:
#df1 = pd.read_json('lds1.json')
#print(type(df1))

In [ ]:
df1

# Attributes

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1.index

In [ ]:
df1.columns

In [ ]:
df1.shape

In [ ]:
df1.ndim

In [ ]:
df1.values

In [ ]:
print(type(df1.values))

In [ ]:
df1.head(n=3)

In [ ]:
df1.tail()

In [ ]:
df1

In [ ]:
df1.isna()

In [ ]:
df1.isna().sum()

In [ ]:
df1.isna().sum().sum()

In [ ]:
df1

In [ ]:
df1.info()

# Summary Stats

In [ ]:
df1.describe()

In [ ]:
df2 = df1.describe(include='all')
df2

In [ ]:
df2.isna().sum().sum()

In [ ]:
df1.describe(include='object')

In [ ]:
df1.info()

In [ ]:
df1.describe(include='float64')

# DF Access

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
print(dir(df1))

In [ ]:
df1.Exp

In [ ]:
df1['Rev']

In [ ]:
df1.columns

In [ ]:
df1['Rev']

In [ ]:
df1.index

In [ ]:
df1.columns

In [ ]:
df1['Bombay_Sporting']

In [ ]:
df1['Exp']

In [ ]:
df1[ ['HQ','Exp','Rev'] ]

In [ ]:
df1[ ['Bombay_Sporting', 'Chennai_Chemicals']  ]

In [ ]:
df1['Exp':'HQ']

In [ ]:
df1['NCR_Leagles': 'Chennai_Chemicals']

In [ ]:
df1['NCR_Leagles': 'Chennai_Chemicals':2]

In [ ]:
df1['Bombay_Sporting':'Bombay_Sporting']

In [ ]:
print(type(df1.Vol))

In [ ]:
df1[ ['HQ','Exp','Rev'] ]

In [ ]:
df1

In [ ]:
df1

In [ ]:
df1.iloc[0]

In [ ]:
df1.iloc[0,0]

In [ ]:
df1.iloc[::2]

In [ ]:
df1[::2]

In [ ]:
df1.iloc[::2, ::2]

In [ ]:
df1.iloc[::2, 0:6]

In [ ]:
df1.iloc[::2, 0]

In [ ]:
df1.iloc[ [0,2,-1,-2]  ]

In [ ]:
df1.iloc[ [0,2,-1,-2]  ,   [1,4,-1,-2,-3]  ]

In [ ]:
df1.iloc[:, 4]

In [ ]:
df1.iloc[:, [4,5] ]

In [ ]:
r = df1.iloc[:, [4] ] 
r

In [ ]:
print(type(r))

In [ ]:
r.index

In [ ]:
r.columns

Label Based Access

In [ ]:
df1.loc[0,0]

In [ ]:
df1.loc['Chennai_Shipping']

In [ ]:
df1.loc['Chennai_Shipping', 'EmpCnt']

In [ ]:
df1.loc['Chennai_Shipping':'Kolkata_FMCG':-1]

In [ ]:
df1.loc['Chennai_Shipping':'Kolkata_FMCG':-1, 'EmpCnt':'Rev':-1]

In [ ]:
print(df1.index)
print(df1.columns)

In [ ]:
df1.loc[ ['Chennai_Shipping', 'Bangalore_Breweries','NCR_Leagles']  ]

In [ ]:
df1.loc[ ['Chennai_Shipping', 'Bangalore_Breweries','NCR_Leagles'] , ['EmpCnt','Vol'] ]

In [ ]:
df1.loc[ ['Chennai_Shipping', 'Bangalore_Breweries','NCR_Leagles'] , 'EmpCnt':'HQ' ]

In [ ]:
df1.loc[ ['Chennai_Shipping', 'Bangalore_Breweries','NCR_Leagles'] , 'EmpCnt']

# Conditional Access

In [ ]:
df1[df1.GST == 'Services']

In [ ]:
df1[  (df1.GST == 'Services') & (df1.HQ == 'Mum') ]

In [ ]:
df1['profit'] = df1.Rev - df1.Exp

In [ ]:
df1

In [ ]:
df1.Rev.mean()

In [ ]:
df1[df1.Rev >= df1.Rev.mean()]

In [ ]:
df1[df1.Rev >= df1.Rev.mean()]['EmpCnt']

In [ ]:
df1[df1.Rev >= df1.Rev.mean()][['EmpCnt','Rev']]

In [ ]:
df1.loc[df1.Rev >= df1.Rev.mean(), 'EmpCnt']

In [ ]:
df1.loc[df1.Rev >= df1.Rev.mean(), ['EmpCnt','Rev']]

In [ ]:
df1.loc[df1.Rev >= df1.Rev.mean(), 'EmpCnt':'Rev':-1]

Grammer for Access

1. Direct Access
2. Unlabelled Access or iloc
3. Labelled Access or loc


Direct Access Mode
    df1['col_name']
    df1.col_name
    
    df1[ [list of col names] ]
    
    df1[row_label_slice]
    
    df1[boolean_Series]
    
    
Integer Location Based Access or UNlabelled Access
    
    df1.iloc[row_n_index]
    df1.iloc[row_n_index, col_n_index]
    
    df1.iloc[row_n_index_slice]
    df1.iloc[row_n_index_slice, col_n_index_slice]
    
    df1.iloc[ [list_of_row_n_indicies] ]
    
    df1.iloc[ [list_of_row_n_indicies] , [list_of_col_n_indicies] ]
    
    combo of above


Label Based Access
    
    df1.loc[row_label]
    df1.loc[row_label, col_label]
    
    df1.loc[row_label_slice]
    df1.loc[row_label_slice, col_label_slice]
    
    df1.loc[ [list_of_row_labels] ]
    
    df1.loc[ [list_of_row_labels] , [list_of_col_labels] ]
    
    combo of above
    
    df1.loc[boolean_Series]

# Sorting

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df2 = df1.sort_index(axis=0, ascending=True)
df2

In [ ]:
df2 = df1.sort_index(axis=0, ascending=False)
df2

In [ ]:
df2 = df1.sort_index(axis=1, ascending=False)
df2

In [ ]:
df2 = df1.sort_index(axis=1, ascending=True)
df2

In [ ]:
df2 = df1.sort_index(axis=0, ascending=True, inplace=True)
print(df2)

In [ ]:
df1

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1.sort_values(by='Vol',ascending=True, axis=0)

In [ ]:
df1.sort_values(by=['Vol','Rev'],ascending=[True,True], axis=0)

In [ ]:
df1.sort_values(by=['Vol','Rev'],ascending=[True,False], axis=0)

In [ ]:
df1

In [ ]:
df1.sort_values(by='NCR_Leagles',ascending=True, axis=1)

In [ ]:
df1.select_dtypes(include='number').sort_values(by='NCR_Leagles',ascending=True, axis=1)

# Rank

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1['vrank'] = df1.Vol.rank(method='average',ascending=False)
df1

In [ ]:
df1.Vol.rank(method='min',ascending=False)

In [ ]:
df1.Vol.rank(method='max',ascending=False)

In [ ]:
df1.Vol.rank(method='first',ascending=False)

In [ ]:
df1.Vol.rank(method='dense',ascending=False)

In [ ]:
df1.Vol.rank(method='first',ascending=False).sort_values().to_csv('rank.csv')

# Pivot Table

In [2]:
import pandas as pd
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

,Vol,Rev,Exp,Sector,EmpCnt,HQ,MNC,StockID,GST,Started
Deccan_Sporting,931,839.80,615,Pvt,154,Hyd,1,SPRT,Services,Mar 1943
Kolkata_FMCG,925,874.40,676,Pub,1379,Kol,0,KFMC,Goods,Jan 1920
NCR_Leagles,931,863.50,605,Pub,1935,NCR,0,NCRL,Services,Feb 1960
Bangalore_Systems,900,881.60,650,Gov,1361,Blr,0,BSYS,Services,Apr 1950
Chennai_Chemicals,966,863.20,608,Pub,1656,Che,1,CHEM,Goods,Aug 1928
Indi_Services,954,733.00,609,Gov,13023,NCR,0,INDI,Services,Mar 1920
Bangalore_Breweries,966,805.00,895,Pvt,119,Blr,1,BREW,Goods,Oct 1971
Bombay_Finance,899,917.00,674,Pub,1443,Mum,0,BFIN,Services,Apr 1925
Chennai_Shipping,992,821.00,665,Pub,1154,Che,1,SHIP,Goods,Nov 1930
Eastern_Estates,945,834.23,789,Pvt,1873,Kol,1,EEST,Goods,Jan 1994

In [3]:
dfp = pd.pivot_table(data=df1, index='Sector',aggfunc='mean')
dfp

TypeError: Could not convert BlrNCR to numeric

In [4]:
df1.Sector.value_counts()

Sector
Pub    5
Pvt    3
Gov    2
Name: count, dtype: int64

In [5]:
dfp = pd.pivot_table(data=df1, index='Sector',aggfunc='mean', values=['Exp','Rev'])
dfp

               Exp         Rev
Sector
Gov     629.500000  807.300000
Pub     645.600000  867.820000
Pvt     766.333333  826.343333

In [ ]:
dfp = pd.pivot_table(df1, index='Sector',aggfunc=np.mean, values=['Exp','Rev'])
dfp

In [ ]:
import numpy as np

In [ ]:
df1

In [ ]:
dfp = pd.pivot_table(df1, index='Sector', columns='GST', values=['Exp'], aggfunc='mean')
dfp

In [ ]:
dfp = pd.pivot_table(df1, index='Sector', columns='GST', values=['Exp'], aggfunc='count')
dfp

In [ ]:
dfp = pd.pivot_table(df1, index='Sector', columns='GST', values=['Exp','Rev'], aggfunc='count')
dfp

In [ ]:
dfp.index

In [ ]:
dfp.columns

In [ ]:
dfp = pd.pivot_table(df1, index='Sector', columns='GST', values=['Exp','Rev'], aggfunc='mean')
dfp

In [ ]:
dfp.loc['Pub', ('Rev', 'Services')]

In [ ]:
dfp = pd.pivot_table(df1, index='Sector', values='Exp', aggfunc=['max',np.min])
dfp

In [ ]:
def diffmaxmin(ps1):
    #print(ps1)
    #print()
    return ps1.max()-ps1.min()

In [ ]:
diffmaxmin(df1.Exp)

In [ ]:
df1.Exp.max()

In [ ]:
df1.Exp.min()

In [ ]:
dfp = pd.pivot_table(df1, index='Sector', values='Exp', aggfunc=['max',np.min, diffmaxmin])
dfp

In [ ]:
df1.loc[(df1.Sector=='Gov'),'Exp']

In [ ]:
dfp = pd.pivot_table(df1, index='Sector', values=['Rev','Exp'], 
                     aggfunc=['max',np.min, lambda ps2: ps2.max()-ps2.min()])
dfp

# Groupby

In [ ]:
df1.groupby(by='Sector')['Exp'].mean()

In [ ]:
dfg = df1.groupby(by='Sector')
print(type(dfg))

In [ ]:
for item in dfg:
    print(item[0])
    print(item[1])
    print()

In [ ]:
df1.groupby(by='Sector')['Exp'].mean()

In [ ]:
df1.groupby(by='Sector')['Exp'].min()

In [ ]:
df1.groupby(by='Sector')[['Exp','Rev']].min()

In [ ]:
df1.groupby(by='Sector')[['Exp','Rev']].agg(['max','min', diffmaxmin,'std'])

# MAP

In [ ]:
df1

In [ ]:
md1 = {'Kol':'EZ','Mum':'WZ','Blr':'SZ','Che':'SZ','NCR':'NZ'}

In [ ]:
df1['Zone'] = df1.HQ.map(md1)

In [ ]:
df1

vol > 950: 'Excellent_Sales'
vol < 930: 'Average_Sales
'Good_Sales'

In [ ]:
def sales_performance_category(sales_value):
    if sales_value > 950:
        return 'Excellent_Sales'
    elif sales_value < 930:
        return 'Average_Sales'
    else:
        return 'Good_Sales'

In [ ]:
sales_performance_category(940)

In [ ]:
df1['Sales_Performance'] = df1.Vol.map(sales_performance_category)
df1

# Rename of Labels

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1.rename(index={'Bangalore_Breweries':'KF','Indi_Services':'IR'}, 
           columns={'Vol':'Volume'}, 
           inplace=True)
df1

# Replace values

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1.Sector.replace({'Pub':'Public','Pvt':'Private'},inplace=True)
df1

# MultiLevel Indexed DataFrame

                    2020  2020  2021  2021
                      q1   q2    q1    q2
Tata     Tech
         FMCG
  
Birla    tech
         fmcg
Wipro    tech
         fmcg

In [ ]:
np.random.seed(23)
n64 = np.random.randint(low=10, high=100, size=(6,4))
n64

In [ ]:
row_level0_labels = ['Tata', 'Birla','Wipro']
row_level1_labels = ['FMCG', 'Tech']

col_level0_labels = [2020,2021]
col_level1_labels = ['q1','q2']

In [ ]:
row_labels = pd.MultiIndex.from_product([row_level0_labels,row_level1_labels])
row_labels

In [ ]:
col_labels = pd.MultiIndex.from_product([col_level0_labels,col_level1_labels])
col_labels

In [ ]:
df1 = pd.DataFrame(n64, index=row_labels, columns=col_labels)
df1

In [ ]:
df1.index

In [ ]:
df1.columns

In [ ]:
df1

In [ ]:
df1.unstack(level=0) ##  go from row to col

In [ ]:
df1.stack(level=-1)  ##  go from col to row

In [ ]:
df1.stack(level=-1).unstack(level=-1).stack(level=0).unstack(level=1)

In [ ]:
df1.unstack(level=0).stack(level=1).stack(level=0).unstack(level=-1).unstack(level=0).stack(level=-1)

In [ ]:
df1.stack(level=-1).unstack(level=0).stack(level=0).unstack(level=-1).unstack(level=0).stack(level=-1)

# drop

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
df1

In [ ]:
df1.drop(columns=['EmpCnt','HQ','MNC'], inplace=False)

In [ ]:
df1.drop(index=['Bangalore_Breweries','Bombay_Finance'], columns=['EmpCnt','HQ','MNC'], inplace=False)

# NaN handling

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds0.csv')
df1

In [ ]:
df1.isna().sum().sum()

In [ ]:
df1.info()

In [ ]:
df1

In [ ]:
df1.dropna()

In [ ]:
df1

In [ ]:
df1.loc['NCR_Leagles', 'EmpCnt'] = 123

In [ ]:
df1

In [ ]:
df1.loc['NCR_Leagles', 'Vol'] = 1234.45

In [ ]:
df1

In [ ]:
df1.info()

In [ ]:
df1['EmpCnt'] = df1.EmpCnt.astype('float64')

In [ ]:
df1

In [ ]:
df1.info()

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds0.csv')
df1

In [ ]:
df1.fillna(123456)

In [ ]:
df1.Rev.mean()

In [ ]:
df1.Rev.fillna(df1.Rev.mean(), inplace=True)
df1

In [ ]:
df1.EmpCnt.mean()

In [ ]:
df1.EmpCnt.median()

In [ ]:
df1.EmpCnt.fillna(df1.EmpCnt.median(), inplace=True)
df1

In [ ]:
df1

In [ ]:
df1.Sector.fillna(method='ffill')

In [ ]:
df1.Sector.fillna(method='bfill').

# Duplicate Handling

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds33.csv')
df1

In [ ]:
df1.drop_duplicates(subset=None, keep='first')

In [ ]:
df1.drop_duplicates(subset=None, keep='last')

In [ ]:
df1.drop_duplicates(subset=None, keep=False)

In [ ]:
df1.drop_duplicates(subset=['City','Temperature'], keep=False)

In [ ]:
df1.drop_duplicates(subset=['City','Temperature'], keep='first')

In [ ]:
df1.drop_duplicates(subset=['City','Temperature'], keep='last')

# Melt

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds31.csv')
df1

In [ ]:
pd.melt(frame=df1, id_vars=['Location','Temperature'])

In [ ]:
pd.melt(frame=df1, id_vars=['Location','Temperature'],var_name='melted_col_names',value_name='melted_col_values')

# Concatenation

In [ ]:
df11 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds11.csv')
df11

In [ ]:
df12 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds12.csv')
df12

In [ ]:
df13 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds13.csv')
df13

In [ ]:
df11

In [ ]:
df12

In [ ]:
df13

In [ ]:
print(df11)
print(df12)
print()
dfc = pd.concat(objs=[df11,df12],axis=0, join='outer')  ##  union of labels
print(dfc)

In [ ]:
print(df11)
print(df12)
print()
dfc = pd.concat(objs=[df11,df12],axis=0, join='inner') # intersection of labels
print(dfc)

In [ ]:
print(df11)
print(df12)
print()
dfc = pd.concat(objs=[df11,df12],axis=1, join='outer')  ##  union of labels
dfc

In [ ]:
print(df11)
print(df12)
print()
dfc = pd.concat(objs=[df11,df12],axis=1, join='inner')  ##  intersection of labels
dfc

# Merge

In [ ]:
df21 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds21.csv')
df22 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds22.csv')
df23 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds23.csv')

In [ ]:
print(df21)
print(df22)
print(df23)

In [ ]:
print(df21)
print(df22)
print()
dfm = pd.merge(df21,df22,how='inner')
print(dfm)

In [ ]:
print(df21)
print(df22)
print()
dfm = pd.merge(df21,df22,how='inner', on='HQ')
print(dfm)

In [ ]:
print(df21)
print(df22)
print()
dfm = pd.merge(df21,df22,how='outer', on='HQ')
print(dfm)

In [ ]:
print(df21)
print(df22)
print()
dfm = pd.merge(df21,df22,how='left', on='HQ')
print(dfm)

In [ ]:
print(df21)
print(df22)
print()
dfm = pd.merge(df21,df22,how='right', on='HQ')
print(dfm)

In [ ]:
print(df21)
print(df23)
print()
dfm = pd.merge(df21,df23,how='inner', on='HQ')
print(dfm)

In [ ]:
print(df21)
print(df22)
print()
dfm = pd.merge(df21,df22,how='cross')
print(dfm)